/* -------------------------------- 

Style

#ffa500 - Headings

-------------------------------- */
*, 
*:after, 
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

/************************************************
************Intro Video Homepage*****************
*************************************************/


/*------------------- GENERAL STYLES -------------------*/
html {
    height:100%
}

body {
    font: 15px/23px 'Raleway',sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}


p {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
}


ul li {
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

.pattern {
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    margin: 0;
}

/*.divider {
    background-image: url(../images/divider.png);
    display: block;
    width: 300px;
    height: 35px;
    margin: 10px auto;
}*/


#colorize {
    color: #7EC0EE;
    font-family: 'Lato',sans-serif;
    font-size: 40px;
}

hr.small {
  max-width: 300px;
  margin: 15px auto;
  border-width: 3px;
  border-color: #9AC0CD;
}

/*---------------------- Video Background ---------------------*/
.big-background {
    z-index: 550;
    text-align: center;
    height: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.big-background .big-background-container {
    width: 830px;
    max-width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.big-background-title {
    font-family: 'Raleway',sans-serif;
    font-size: 70px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
    display: inline-block;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position: top center;
}

a.big-background-btn {
    font-family: 'Lato',sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: transparent;
    /*border:2px solid #42C0FB;*/
    border:2px solid #fff;
    padding: 10px 14px;
    cursor: pointer;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    -webkit-transition: .3s background ease;
    -moz-transition: .3s background ease;
    -o-transition: .3s background ease;
    transition: .3s background ease;
}

.big-background-btn:hover {
    color: #fff;
    background: rgba(154,192,205,0.6);
}

.big-background-default-image {
    background: url(../images/sunset.jpg);
    background: #3a3a3a;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    backface-visibility: hidden;
}


@media screen and (max-width: 480px) {
  .big-background-title {
    font-size: 50px;
  }

  .small-background-title {
    line-height: 1;
  }

/*.player{ display: none;}  -> If you want to remove the video bg on a specific viewport w/o plugin*/
}

@media screen and (max-width: 360px) {
  .big-background-title,#colorize {
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  .small-background-title {
    font-size: 30px;
  }
}

/*----------------- Homepage ----------------------*/

#index-section {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

#index-section h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4em;
  font-weight: bold;
  color: #2a2a2a;
}

#index-section p {
  font-weight: 300;
  color: #3a3a3a;
}

@media only screen and (min-width: 768px) {
  #index-section h1 {
    font-size: 2.4em;
    font-weight: bold;
  }

  #index-section p {
    margin: 0 auto;
    width: 550px;
  }
}

@media only screen and (max-width: 768px) {
  #index-section h1 {
    font-weight: bold;
  }
  #index-section p {
    margin: 0 auto;
    width: 400px;
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 480px) {
  #index-section h1 {
    font-size: 2em;
    font-weight: bold;
  }

  #index-section p {
    margin: 0 auto;
    width: 300px;
  }
}

/*---------------- Artist Pages ------------------*/

#artist-section {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

#artist-section h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4em;
  font-weight: bold;
  color: #2a2a2a;
}

#artist-section p {
  font-weight: 300;
  color: #3a3a3a;
}

@media only screen and (min-width: 768px) {
  #artist-section h1 {
    font-size: 2.4em;
    font-weight: bold;
  }

  #artist-section p {
    margin: 0 auto;
    width: 550px;
  }
}

@media only screen and (max-width: 768px) {
  #artist-section h1 {
    font-weight: bold;
  }
  #artist-section p {
    margin: 0 auto;
    width: 400px;
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 480px) {
  #artist-section h1 {
    font-size: 2em;
    font-weight: bold;
  }

  #artist-section p {
    margin: 0 auto;
    width: 300px;
  }
}

/*---------------- Footer -------------------*/

footer {
  position: absolute;
  width: 100%;
  height: 140px;
  background: #9AC0CD;
  text-align: center;
}

footer h3 {
  color: #2a2a2a;
  margin-top: 60px;
}

